@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.f1 {
  font-family: 'Montserrat', sans-serif;
}


.f2 {
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(-10px); }
  to { transform: translateY(0); }
}


/* Playfair Display
Lato
Libre Baskerville
Source Sans Pro
DM Serif Display
Inter
Cormorant Garamond
Open Sans
Merriweather
Montserrat  */